
  {% extends "admin_layout.html" %}
  {% block content  %}
    <div class="container">
        <div class='card' style='width: 18 rem;'>
            <div class="card-body">
                <h5 class="card-title">Summary</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Review/Ratings</h6>
                <img src="./static/images/professiona_rating_summary.jpeg" width='200' height="200">
            </div>
        </div>
        
        <div class='card' style='width: 18 rem;'>
            <div class="card-body">
                <h5 class="card-title">Summary</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Service Requests</h6>
                <img src="./static/images/service_request_summary.jpeg" width="200" height="200">
            </div>
        </div>
         

    </div>
    
{% endblock  %}