
{% extends "cust_layout.html" %}
{% block content %}

    <div class="section">
        {% if services %}
        <h3>Looking For?</h3>
        <div class="service-options">
            {% for service in services %}
            <div><a href="/request_service/{{service.id}}/{{name}}">{{service.name}}</a></div>
            {% endfor %}
        </div>
        {% else %}
            <h3 class="center">No services available</h3>
        {% endif %}
    </div>
    

    <div class="section">        
        <h3>Service History</h3>
        {% if service_requests %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Professional Name</th>
                    <th>Phone No.</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for service_request in service_requests %}
                <tr>
                    <td>{{service_request.id}}</td>
                    <td>{{service_request.service_name}}</td>
                    <td>{{service_request.professional.name}}</td>
                    <td>{{service_request.professional.email}}</td>
                    <td>{{service_request.status}}</td>
                     {%if service_request.status=="Accepted"%}
                    <td><a href="/#/{{service_request.id}}/{{name}}" class="close-link">Close it?</a></td>
                    <td><a href="/edit_request/{{service_request.id}}/{{name}}"  type="button"  class="btn btn-success">Edit Request</a>
                    {%endif%}
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        {% else %}
            <h3 class="center">No service history available</h3>
        {% endif %}
    </div>
    {% endblock content %}

       
     
  
