<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Household Services</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color:#add8e6">
    <div class="center">
        <marquee behavior="scroll" direction="left">
            <img src="static/images/image9.jpg" class="marquee-img">
            <img src="static/images/image2.jpg" class="marquee-img">
            <img src="static/images/image3.jpg" class="marquee-img">
            <img src="static/images/image4.jpg" class="marquee-img">
            <img src="static/images/image5.jpg" class="marquee-img">
            <img src="static/images/image7.jpg" class="marquee-img">
            <img src="static/images/image8.jpg" class="marquee-img">
            
          </marquee>
        <figure class="text-center">
            <blockquote class="blockquote">
            <h1><p>Welcome to HomePro</p></h1>
            </blockquote>
            <h5>
            <figcaption class="blockquote-footer">
              <cite title="Source Title">"Professional Services for Every Home"</cite>
            </figcaption></h5>
          </figure>  
          <div style="text-align: center;">
            <a class="a" href="/login">
              <button class="btn btn-warning" style="padding: 8px 12px;">Login</button>
            </a>
          </div>
</div>
</body>
</html>